<div ng-controller="BaseController as base"
     layout="column" layout-gt-xs="row">
  <md-card flex flex-gt-xs="30">
    <h2>Base Angular template</h2>
    <md-card-content>
      <p class="note">Use AngularJS {{base.ngVersion.full}}</p>
    </md-card-content>
  </md-card>
  <md-card flex>
    <h2>Card title #2</h2>
    <md-card-content>
      <p>Some content</p>
    </md-card-content>
  </md-card>
</div>
